.mission-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 80px 0;
}

.mission-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.mission-title {
  color: var(--gray-800);
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.mission-description {
  width: 1042px;
  color: var(--black);
  text-align: center;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}

.mission-values {
  display: flex;
  align-items: center;
  gap: 48px;
  max-width: 1550px;
  flex-wrap: wrap;
  justify-content: center;
}

.value-card {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
}

.value-icon-wrapper {
  display: flex;
  width: 137px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.value-icon {
  width: 80px;
  height: 72px;
  object-fit: contain;
}

.value-title {
  align-self: stretch;
  color: var(--gray-800);
  text-align: center;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.value-description {
  display: flex;
  width: 262px;
  height: 73px;
  flex-direction: column;
  justify-content: center;
  color: var(--black);
  text-align: center;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
