:root {
  --gray-700: #495057;
  --gray-800: #343A40;
  --gray-900: #212529;
  --default-white: #FFF;
  --primary-green: #003C0A;
  --light-bg: #F6F9FC;
  --black: #000;
  
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: var(--gray-900);
  background-color: var(--default-white);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

img {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}
